header{
    color: white;
    min-height: auto;
    max-width: auto;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.bg-container{
    position: fixed;
}

.imageStyle{
    max-width: "400px",
}

.whitebox{
    background-color: white;
    padding: 80px;
}

.boxone{
    background-color: #2E2F43;
    align-content: center;
}

.boxtwo{
    background-color: #F2F2F2;
    padding: 90px;
}

.subtitle{
    color: #555;
}

.textBar{
    color:white;
    font-size: x-large;
    padding: 16px;
}

.startnowbutton{
    background-color: #555;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: medium;
}

.text{
    height: auto;
    flex-wrap: wrap;
}

.textone {
    color: #555;
    height: auto;
}

.soloplay{
    position:absolute;
    top: 39%;
    left: 82%;
    width: fit-content;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
    color: #555;
    background-color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.imgcontainer {
    width: 100%;
  }
.multiplay{
    position:absolute;
    top: 58%;
    left: 82%;
    font-weight: bold;
    width: fit-content;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
    color: #555;
    background-color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* 48em = 768px */
@media (min-width: 48em) {
    .header button {

    }
}

