/*.body-wrap {*/
/*  position: relative;*/
/*  overflow: hidden;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  min-height: 100vh;*/
/*}*/

 .container {
  position: relative;
  width: 100%;
}

.container img {
  width: 100%;
  height: auto;
}

.SignupButton {
  position:absolute;
  top: 4%;
  left: 76%;
  height: 5%;
  width: 10%;
  /*transform: translate(-50%, -50%);*/
  /*-ms-transform: translate(-50%, -50%); */
  /*background-color: #555;*/
  /*background-size: contain;*/
  /*color: white;*/
  /*font-size: large;*/
  /*padding: 12px 24px;*/
  /*cursor: pointer;*/
  /*border-radius: 5px;*/
}

.LoginButton {
  position:absolute;
  top: 4%;
  left: 89%;
  height: 3%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); 
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.SoloplayButton {
  position:absolute;
  top: 20%;
  left: 89%;
  width: 15%;
  height: 3%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); 
  color: #555;
  background-color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.GroupplayButton {
  position:absolute;
  top: 25%;
  left: 89%;
  width: 15%;
  height: 3%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); 
  color: #555;
  background-color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

